/* Fonts */
@font-face {
  font-family: "GolosText";
  src: url(/fonts/GolosText-VariableFont_wght.ttf);
  font-weight: 400;
  font-display: swap;
}


/* Variables */
:root {
    --c_t: #fff;
    --coontainer-width: 1000px;
    --container-offset: 15px;
}

/* Base parametres */
*,
*::before,
*::after {
    box-sizing: border-box;
}   

html {
  font-family: Golos Text;
  font-size: 16px;
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
}

hyml, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1,h2,h3 {
  font-family: Golos Text;
}

a{
  text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
     list-style-type: none;
     cursor: pointer;
}


  /* CSS settings */

  /* Back fone */
  header {
    position: relative;
    top: 0;
    color: black;
    min-height:100%;
  }
  header #header_img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    background-image: url('/img/5285.jpg');
    background-size: cover;
    background-position: top;
  }
  .main_line{
    /* display: block; */
    width: 100%;
    /* margin-top: 2; */
    z-index: 100;
    position: relative;
    margin-bottom: 10px;
    
  }
  .main_line #header-title {
    text-align: center;
  }

  .main_line #header-title h1 {
    font-size: 3em;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
  }

@media screen and (max-width: 500px) {
  .main_line #header_img{
    background-image: url('/img/2151777550.jpg');
  }
  .main_line #header-title h1 {
    font-size: 2em;
    color: bisque;
  }  
  }


main {
  position: relative;
  z-index: 5;
  
}


.container {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #f1f1f1;
    opacity: 50%;
    padding: 0 var(--container-offset);
    max-width: calc(var(--coontainer-width) + (var(--container-offset) * 2));
}


.wrp1 { 
  display:block;
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow:  0px 1px 1px rgba(15, 43, 93, 0.25),  0px 0px 1px 1px rgba(6, 31, 74, 0.13);
}
.wrp1 h2 {
  position: relative;
  top: 10px;
}

.wrap_menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background: #a0a0a0; */
    max-width: fit-content;
    }    
.Ttl,.opt { 
  padding: .5em 0;
}





/* Menu settings */

.menu {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


.menu li {
    display : inline-block;
    vertical-align: middle;
    position: relative;
    /* list-style-type: none; */
  }


.menu_1 .menu_item {
    padding: 10px 30px 10px 30px;
}

.menu_1 .menu_item a {
  /* padding: 10px 30px 10px 30px; */
  color: black;
}

/* .menu_1 .menu_item a:hover {
  color: white;
} */


.menu_1 .menu_item:not(:last-child) {
    display: inline-block;
    /* background-color: rgb(116, 198, 165); */
    margin-right: 5px;
    vertical-align: middle;
}


.menu_1 .menu_item:not(:last-child)::after {
    content: "";
    position: relative;
    display: inline-block;
    left: 2.23em;
    width: 2px;
    height: 20px;
    background-color: black;
    /* margin: 0 15px; */
    vertical-align: middle;
}

/* .sub_menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
} */
.sub_menu {
    position:absolute;
    top: 2.5em;
    left: -5px;
    width: 108%;
    background-color: #fff;
    border-left: #000000 solid 2px;
    border-right: #000000 solid 2px;
    /* border-radius: 8px; */
    visibility: hidden;
    opacity: 0;   
    transform: translateY(10px);
    transition: .2s ease-in-out;
    z-index: 100;
}
.sub_menu li {
    position: relative;
    text-align: center;
    padding: 10px 30px;
    }
.sub_menu a{
    /* color: #000; */

}
.menu_item:hover,
.menu_item a:hover, 
.sub_menu .sub_item:hover{
    background-color: #8b8b8b;
    color: #fff;
}
/* .menu_item:hover {
    border-radius: 5px;
} */
/* .menu_1 li>a :hover{
    color: #fff;
} */

.menu_1 li:hover>.sub_menu {
    visibility: visible;
    opacity: 1;
}
/* .sub_menu>li:first-child>a:hover{
   border-radius: 8px 8px 0 0;
}
.sub_menu>li:last-child>a:hover{
    border-radius: 0 0 8px 8px;
 } */



/* Hamburger button */

.menu_1-tog {
    visibility: visible;
    opacity: 1;
}

.warp_hamburger {
  display: block;
 
  
  
}
.menu_1-tog .hamburger_menu {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 171, 76);
  border-radius: 50%;
  border: #531fad solid 4px;
  box-shadow: 1px 1px 10px 0  #000000;
}

.menu_1-tog .hamburger_menu .hamburger {
  display: block;
  position: absolute;
  width: 36px;
  height: 5px;
  top: 28px;
  left: 12px;
  border-radius: 3px;
  background-color: #fff;
   transition: 0.4s ease;
}
.menu_1-tog .hamburger_menu .hamburger:after, .hamburger_menu .hamburger:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
   transition: 0.4s ease;
}

.menu_1-tog .hamburger_menu .hamburger:after{
  bottom: -10px;
}

.menu_1-tog .hamburger_menu .hamburger:before {
  top: -10px;
}


[id='menu_1-toggle']:checked ~ .wrap_menu > .warp_hamburger > .menu_1-tog > .hamburger_menu > .hamburger {
  transform: rotate(45deg);
}

[id='menu_1-toggle']:checked ~ .wrap_menu > .warp_hamburger > .menu_1-tog > .hamburger_menu > .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
[id='menu_1-toggle']:checked ~ .wrap_menu > .warp_hamburger > .menu_1-tog > .hamburger_menu > .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}